@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  zoom: 1;
}

body {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  zoom: 1;
}

.c {
  color: #037d90;
}

.bgC {
  background-color: #037d90;
}

.hv {
  /* background-color: #046e7f; */
  background-color: #23047f;
}

.font {
  font-family: "quindelia", sans-serif;
}

.bgSvg {
  width: 390px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/1689760-009688.svg");
}
.queenCrown {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/queen.png");
}
.princessCrown {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/princess.png");
}
.githubIcon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/icons8-github.svg");
}.gmailIcon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/icons8-gmail-96.png");
}

.folded {
  transform: translateY(-100%);
}
