
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  zoom: 1;
}

body {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  zoom: 1;
}


.c {
  color: #037d90;
}

.bgC {
  background-color: #037d90;
}

.hv {
  /* background-color: #046e7f; */
  background-color: #23047f;
}

.font {
  font-family: 'quindelia', sans-serif;
}
