/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.c {
  color: #037d90;
}

.bgC {
  background-color: #037d90;
}

.hv {
  /* background-color: #046e7f; */
  background-color: #23047f;
}